/**
*
* style.css
* @author - Lameen
* @date - 11/03/2023
**/

.title {
    letter-spacing: 7px;
    margin: 6px auto;
    font-weight: 600;
    font-size: 14px;
    color: #233e40;
}
.title-box {
    margin: 40px auto;
    text-align: center;
}
.box-1 {
    background-color: #fff;
    width: 575px;
    border-radius: 15px;
    margin: 0 auto;
}
.box-2 {
    background-color: #00474b;
    border-radius: 15px;
    height: 260px;
    margin: 24px 21px 21px 21px;
}
.label {
    font-size: 11px;
    color: #596263;
    margin: 30px 0 4px 24px;
    font-weight: 500
}
.label-people {
    margin: 20px 0 4px 24px;
}
.label-total {
    color: #b1d7d6;
    font-size: 12px;
    font-weight: 500;
    margin: 37px 0 4px 23px
}
.label-person {
    color: #0d686d;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 0 23px;
}
.amount {
    color: #21c2aa;
    font-size: 32px;
    font-weight: bold;
    margin: 30px 5px 0 12px;
    text-align: right;
}
.dollar {
    font-size: 25px;
    padding: 0 2px 0 0;
}
.error {
    font-size: 12px;
    color: red;
    margin: 3px 0 0 23px;
}